<!DOCTYPE html>
<html>
         
  <head>
      <title>이노모</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>게시판</title>
      <link rel="stylesheet" href="/css/bootstrap.css">
  <!--     <link rel="stylesheet" href="../public/css/style.css"> -->
		<link rel="stylesheet" href="../public/css/main.css" />
		
  </head>
<body>
  

   <div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container" id="o" style="background-color: #51575a; width:100%" >
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<a id="n"href="/" >ENOMO</a>
                  
								<!-- Nav -->
									<nav id="nav">
										<a href="/">Homepage</a>
										<a href="/board">Q&A</a>
										<a href="/notice">NOTICE</a>
										<a href="/board">MY PAGE</a>
										<input type="text"  placeholder="Search" >
										<button type="submit" class="btn btn-default">Submit</button>
									</nav>

							</div>
						</div>
					</div>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-6 col-12-medium">

									<!-- Banner Copy -->
										<p>DO YOU KNOW THE TITLE OF THIS MUSIC?<br>COME AND JOY WITH interesting people!</p>
										<% if (!isLogined) { %>
											<a href="/auth/join" class="button-large">JOIN</a>
											<a href="/auth/login" class="button-large">LOGIN</a>
											
										<% } else {%>
											<a href="/auth/logout" class="button-large">LOGOUT</a>
										<% } %>
								</div>
								
							</div>
						</div>
					</div>
				</section>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../public/image/coding.jpg" alt="" /></a>
										<h2>Today`s question</h2>
										<p>
											코딩 중 버그가 발생 해서 답답할 때 , 이 기분을 시원하게 날려줄 노동요 추천해주세요!
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #2 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../public/image/user.jpg" alt="" /></a>
										<h2>추천사용자</h2>
										<p>
										SoYeong Music	
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #3 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../public/image/fancy.jpg" alt="" /></a>
										<h2>Today`s Music</h2>
										<p>
											[Fancy]-TWICE
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #4 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../public/image/hack.png" alt="" /></a>
										<h2>\<HACK YOUR DAY\></h2>
										<p>
											제1회 전남대 <br>AI-BIG DATA 이노베이션 해커톤 
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

			
	
			<script src="../public/js/breakpoints.min.js"></script>
			<script src="../public/js/browser.min.js"></script>
			<script src="../public/js/breakpoints.min.js"></script>
			<script src="../public/js/util.js"></script>
			<script src="../public/js/main.js"></script>
   <p>
   <div id="H">
       <h3>카테고리</h3>
    <UL>
    <li><a href= "">발라드</a></li>
    <li><a href= "">댄스</a></li>
    <li><a href= "">힙합</a></li>
    <li><a href= "">트로트</a></li>
    <li><a href= "">국가별</a></li>
  </ul>
  

</div>
   <div id="I"><h2>전체</h2>
   <oL></uL>
      <li>강식당 2에서 나온 노래 뭔가요?</li>
      <button type = "button">답변하기</button>
      <li>런닝맨에 나온 노래 제목 궁금함</li>
      <button type = "button">답변하기</button>
      <li>봄 사랑 벚꽃말고랑 비슷한 노래 추천좀</li>
      <button type = "button">답변하기</button>
      <li>XX프로그램에서 아이유가 잠깐 부른 노래 제목 아시는 분?</li>
      <button type = "button">답변하기</button>
      <li>나주 평야 발발이 치와와~ 이런 가사 노래 제목이 뭔가요?</li>
      <button type = "button">답변하기</button>
    </ol></div>

   <div id="J">J</div>
    </p>  
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
        
     
</body>
</html>