<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SIGN_IN</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="login">
        <h1>login</h1>
        <form method="post" action="/auth/login" id="login"> 
        <table broder="2">

            <tr>
                <td>ID</td>
                <td><input type="text" name="id" id="loginId"></td>
            </tr>
            <tr>
                <td>PW</td>
                <td><input type="password" name="pw" id="loginPw"></td>
            </tr>
            <tr>
                <td><input type="submit" value="로그인"></td>
                <!-- <td><input type="submit" onclick="document.getElementById(login).submit();" value="로그인"></td> -->
            </tr>

        </table>
        </form>
    </div>
    <script>

    </script>
    <script src="jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="javascripts/login.js"></script>
</body>

</html>