<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SIGN_IN</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="login">
        <h1>login</h1>
        <form method="post" action="/auth/login"> 
        <table broder="2">

            <tr>
                <td>ID</td>
                <td><input type="text" name="id" id="loginId"></td>
            </tr>
            <tr>
                <td>PW</td>
                <td><input type="password" name="pw" id="loginPw"></td>
            </tr>
            <tr>
                <td><input type="submit" onclick="login()" value="로그인"></td>
            </tr>

        </table>
        </form>
    </div>
    <script>
        function login() {
            var Id = document.getElementById("loginId").value;
            var Pw = document.getElementById("loginPw").value;
            if (Id === rows[0].userId && Pw === rows[0].userPassword) {
                alert(Id + '님 안녕하십니까');
            }
            else {
                alert('id 혹은 pw 가 틀리셨습니다.');
            }   
        }
    </script>
</body>

</html>