div#A{
    width:60%;
    height:50px;
    float:left;
    margin:5px;
}
div#B{
    width:30%;
    height:50px;
    float:left;
    margin:5px;
}
div#C{
    width:100%;
    height:50px;
    float:left;
    margin:5px;
}
div#D{
    width:24%;
    height:300px;
    float:left;
    margin:5px;
}
div#E{
    width:24%;
    height:300px;
    float:left;
    margin:5px;
}
div#F{
    WIDTH:24%;
    height:300px;
    float:left;
    margin:5px;
}
div#G{
    width:24%;
    height:300px;
    float:left;
    margin:5px;
}
div#H{
    width:10%;
    height:500px;
    float:left;
    margin:5px;
}
div#I{
    WIDTH:60%;
    height:500px;
    float:left;
    margin:5px;}
div#J{
    WIDTH:25%;
    height:500px;
    float:left;
    margin:5px;}

